@media screen and (max-width:1140px){
   .navigation{
    flex-direction: column;
    margin-bottom: 23px;
   } 
   .nav-left{
    text-align: center;
    flex-direction: column;
   }
   .content-right{
    display: none;
   }

   .head{
    margin:0;
   }
}

